<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>学程链</title>
</head>
<body>
    <div class="header">
        <div class="nav-box">
            <img src="../images/logo.png" alt="">
                 <ul class="nav nav-pills nav-title" role="tablist" id="myTab">
                    <li role="presentation"><a href="#index" aria-controls="index" role="tab" data-toggle="tab">首页</a></li>
                    <li role="presentation" ><a href="#xclDesc" aria-controls="xclDesc" role="tab" data-toggle="tab">学程链简介</a></li>
                    <li role="presentation"><a href="#typicalfw" aria-controls="typicalfw" role="tab" data-toggle="tab">典型服务</a></li>
                    <li role="presentation"><a href="#hzjh" aria-controls="hzjh" role="tab" data-toggle="tab">合作机会</a></li>
                    <li role="presentation"><a href="#gywm" aria-controls="gywm" role="tab" data-toggle="tab">关于我们</a></li>
                     <li role="presentation"><a href="login.html">登录</a></li>
                 </ul>
        </div>
    </div>
    <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="index">
                <div class="banner-box">
                    <img src="../images/index_banner.png" alt="">
                    <div class="container">
                        <div class="banner-desc">
                            <h1 class="subtitle">情况概览</h1>
                            <small class="subtitle-desc">OVERVIEW</small>
                            <ul>
                                <li><strong>5</strong>机构数</li>
                                <li><strong>103054</strong>学生数</li>
                                <li><strong>23974</strong>区块高度</li>
                                <li><strong>5067</strong>服务次数</li>
                            </ul>
                        </div>
                    </div>
               </div>
                <div class="jrsteps">
                    <div class="container">
                        <h1 class="subtitle">接入流程</h1>
                        <small class="subtitle-desc">PROCESS</small>
                        <ul class="">
                            <li>
                                <img src="../images/loginSystem.png" alt="">
                                <p>登录系统</p>
                                <small class="gray-text">注册/登录学程链系统</small>
                            </li>
                            <li>
                                <img src="../images/personIdentity.png" alt="">
                                <p>个人认证</p>
                                <small class="gray-text">提交个人资料的认证</small>
                            </li>
                            <li>
                                <img src="../images/commitInfo.png" alt="">
                                <p>提交信息</p>
                                <small class="gray-text">提交个人学习过程信息</small>
                            </li>
                            <li>
                                <img src="../images/manageSq.png" alt="">
                                <p>管理授权</p>
                                <small class="gray-text">管理个人声明的授权</small>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                        <div class="hzhb">
                            <h1 class="subtitle">合作伙伴</h1>
                            <small class="subtitle-desc">PARTNER</small>
                            <ul>
                                <li><img src="../images/njdxLogo.png" alt=""></li>
                                <li><img src="../images/dndxLogo.png" alt=""></li>
                                <li><img src="../images/ztLogo.png" alt=""></li>
                            </ul>
                        </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="xclDesc">
                <div class="banner-box">
                        <img src="../images/xclDesc_banner.png" alt="">
                </div>  
                <div class="xclDesc-box">
                        <ul class="nav nav-pills nav-stacked nav-xcl" role="tablist" id="xclDescTab">
                                <li role="presentation" class="active"><a href="#systemInfo" aria-controls="systemInfo" role="tab" data-toggle="tab">系统信息</a></li>
                                <li role="presentation"><a href="#xclDesc2" aria-controls="xclDesc2" role="tab" data-toggle="tab">学程链简介</a></li>
                                <li role="presentation"><a href="#fwCenter" aria-controls="fwCenter" role="tab" data-toggle="tab">服务中心</a></li>
                                <li role="presentation"><a href="#jrzn" aria-controls="jrzn" role="tab" data-toggle="tab">接入指南</a></li>
                        </ul>
                        <div class="tab-content  mytab-con">
                            <div role="tabpanel" class="tab-pane active systemInfo" id="systemInfo">
                                <div class="item-box-2">
                                    <h1>节点管理</h1>
                                    <ul>
                                        <li>
                                            <span>节点ID</span>
                                            <span>节点名称</span>
                                            <span>当前区块的哈希值</span>
                                            <span>区块高度</span>
                                            <span>最新区块时间</span>
                                        </li>
                                        <li><img src="../images/Bitmap.png" alt=""></li>
                                    </ul>
                                </div>
                                <div class="item-box-2">
                                        <h1>记录展示</h1>
                                        <ul>
                                            <li>
                                                <span>记录哈希值</span>
                                                <span>业务类型</span>
                                                <span>区块高度</span>
                                                <span>记录方</span>
                                                <span>交易时间</span>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                            <div role="tabpanel" class="tab-pane xclDesc2" id="xclDesc2">
                                <div class="xcl-title"><img src="../images/title.png" alt=""><span>欢迎使用学程链服务</span> </div>
                                <div class="content">
                                    <p>针对国内学历、技能鉴证市场的诸多弊病，学程链主要从实际应用的角度出发，解决以下几个问题：</p>
                                    <h4>学历档案数据的可信度问题</h4>
                                    <p>学程链建设的过程中，项目的参与方主要为各个高校，借助金智教育与高校之间的深度合作关系，与高校的档案馆、学生处等管理部门合作，由权威部门使用最原始的数据提供认证，保证数据的真实可靠；同时，使用区块链技术，保障数据在传递、转移过程中的可追溯，这也避免了起始数据不被信任的、作假的可能性</p>
                                    <h4>学生信息隐私保护与有效分享的矛盾</h4>
                                    <p>由于学生的学历、成绩等信息涉及一定的隐私，在当前的互联网环境下，在数据开放和保护之间无法找到很好的解决办法，从而导致高校等权威机构的数据无法被企业充分利用，无法产生其应有的社会效益。学程链使用区块链技术，用户数据将以防篡改的方式存储，并且不会涉及任何第三方，从而为隐私保护提供技术保障；在用户数据验证中，引入零知识证明、差分隐私等加密、共识技术，实现数据分享及验证的隔离，由用户直接参与数据使用的授权机制，很好的解决了数据分享和隐私保护之间的矛盾。所有的数据使用都由用户量身定制，企业及机构只能访问相关数据，从而通过处理此类信息来降低法律和合规性风险，而不是代表用户对其进行控制。</p>
                                    <h4>学生能力档案完整性的问题</h4>
                                    <p>由于区块链去中心化的特性，从技术本身上就解决了教育机构之间的壁垒；学程链通过为学生构建分布式数字身份模型，以学生个体的数字身份为中心，组合学生的学籍、学习经历、成绩、技能证书等多个机构的多种能力证明，从而形成较为完整的学生能力档案，为企业提供更丰富的学生能力组合匹配机制，可大大提高用人单位在人才选用过程中的效率。社会化培训机构的技能证明与正规高校的学历证明组合，也同时提高了技能的可信度，为企业用人过程中减少信任成本。</p>
                                    <h4>学生能力与企业需求匹配度的问题</h4>
                                    <p>在校园招聘市场，传统的方式会通过测评来做甄选，但测评结果的效用有限；通常通过企业点击简历的行为，来推荐人才简历，另外岗位招聘需求和人才的匹配，基本只是岗位名称和求职意向的匹配，很容易出现了简历匹配效果不佳、只满足极少部分学生需求、学生和企业满意度不高的诸多问题。学程链通过建立了可信的数据源，为有效的人岗匹配分析提供了依据，很好的解决岗位对接和人才培养之间不匹配的矛盾。</p>
                                    <h4>学历鉴证服务的生态</h4>
                                    <p><img src="../images/fw.png" alt=""></p>
                                </div>
                            </div>
                            <!-- <div role="tabpanel" class="tab-pane" id="fwCenter">3</div>
                            <div role="tabpanel" class="tab-pane" id="jrzn">6</div> -->
                        </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane active typicalfw" id="typicalfw">
                <div class="banner-box">
                        <img src="../images/typicalfw_banner.png" alt="">
                </div>
                <ul class="container">
                    <li><img src="../images/xcSave.png" alt="">
                        <p>学程存储</p>
                        <small class="gray-text">提供学生学习历程的分布式存储</small>
                    </li>
                    <li>
                        <img src="../images/xljz.png" alt="">
                        <p>学历鉴证</p>
                        <small class="gray-text">为企业提供学历、技能证书的签证服务</small>
                    </li>
                    <li>
                        <img src="../images/rctj.png" alt="">
                        <p>人才推荐</p>
                        <small class="gray-text">基于可信数据源为企业提供人才推荐</small>
                    </li>
                </ul>
            </div>
            <!-- <div role="tabpanel" class="tab-pane" id="hzjh">...</div> -->
            <div role="tabpanel" class="tab-pane" id="gywm">
                <div class="banner-box">
                    <img src="../images/gywm_banner.jpg" alt="">
                </div>
                <div class="container">
                    <div class="gywm">
                        <h1 class="subtitle">关于我们</h1>
                        <small class="subtitle-desc">ABOUT US</small>
                        <p>学程链以学生的个人数字身份为基础，通过去中心化的分布式存储，记录学生的招录、奖惩、学历学位、分配、派遣等全程档案信息，以及全程学习记录、社会化技能培训学习证明等与学生专业能力密切相关的信息，有效可信地实现学生学历与专业能力的鉴证服务。</p>
                        <p>通过加密技术和智能合约，实现数据保护及授权机制，在满足数据安全与隐私保护需求的基础上，向其它学校、机构及企业提供真实可信的学生学业成绩、专业能力鉴证服务，作为学生求职面试的重要依据，搭建学生与企业沟通的桥梁。</p>
                        </div>
                </div>
                <div class="container">
                <div class="czlc">
                    <h1 class="subtitle">成长历程</h1>
                    <small class="subtitle-desc">COURSE</small>
                    <p><img src="../images/growroad.png" alt=""></p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="login">...</div>
   </div>
    <div class="footer">
        <div class="footer-box">
            <div class="item-box">
                <strong>关于公司</strong>
                <ul>
                    <li>公司概况</li>
                    <li>在线咨询</li>
                    <li>联系我们</li>
                </ul>
            </div>
            <div class="item-box">
                <strong>友情链接</strong>
                <ul>
                    <li>智慧校园云工场</li>
                    <li>阿里云大学</li>
                    <li>好大学在线</li>
                    <li>知途网</li>
                </ul>
            </div>
            <div class="item-box">
                <strong>下载中心</strong>
                <ul>
                    <li>产品白皮书</li>
                    <li>学程链简介</li>
                </ul>
            </div>
            <div class="item-box">
                <img src="../images/qcrode.png" alt="">
                <p>扫描关注金智教育</p>
            </div>
        </div>

    </div>
    <div class="footer-address">
            <span>地址：南京市江宁区将军大道100号</span>
            <span>电话： 4007-99-4007（服务）</span>
            <span>Copyright@2017 - 2019 江苏金智教育信息股份有限公司</span>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/basic.js"></script>
</body>
</html>