<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>学程链</title>
</head>
<body>
    <div class="wrapper">
        <img class="bg-img" src="../images/login.jpg"/>
        <div class="main">
            <div class="logo"><img src="../images/logo1.png"/></div>
            <div class="login-box register-box">
                <div class="title">个人用户登录</div>
                <input type="text" class="form-control input-lg" id="checkCode" placeholder="手机号码">
                <input type="text" class="form-control input-lg" id="checkCode" placeholder="验证码">
                <input type="password" class="form-control  input-lg" id="setPassword" placeholder="设置密码">
                <input type="password" class="form-control  input-lg" id="confirmPassword" placeholder="确认密码">
                <input type="text" class="form-control input-lg" id="realName" placeholder="姓名不可更改，请输入真实姓名">
                <button type="button" class="btn btn-primary btn-lg btn-block">确定</button>
                <p class="gray-text">
                    <span style="float:left">已有账号，马上<a href="login.html">登录</a></span>
                    <span style="float:right">注册即视为同意<a>服务条款</a></span>
                </p>
            </div>
        </div>
        <div class="footer">
            <span>地址：南京市江宁区将军大道100号</span>
            <span>电话： 4007-99-4007（服务）</span>
            <span>Copyright@2017 - 2019 江苏金智教育信息股份有限公司</span>
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>